@{
    Layout = "_Layout";
} @using PierresTreats.Models;

<h1 id="home-page-title">Pierre's Treats</h1>

<div id="home-page-overview">
    <p>Welcome back to Pierre's Bakery!

        On this site you can browse all of our treats and their flavors and also check our list of flavors we use and which treats contain them.

        Use the Dropdown menu in the upper right hand corner to navigate accross the site. We use authentication so register and log in to add treats and flavors, or just browse if you prefer to not create an account.
    </p>
    <p id="home-page-overview-disclaimer">
        Use the dropdown menu in the upper right hand corner to navigate.
    </p>
</div>

@if (User.Identity.IsAuthenticated)
{
@* <div id="nav-links">
    <p>@Html.ActionLink("Treats", "Index", "Treats")</p>
    <p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>
</div> *@
<div id="nav-container">
    <div id="dropdown-trigger">
        <span>Menu</span>
        <div id="dropdown-menu">
            <div id="dropdown-links-container">
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("Add Flavor", "Create", "Flavors")
                @Html.ActionLink("Add Treat", "Create", "Treats")
                @Html.ActionLink("View Flavors", "Index", "Flavors")
                @Html.ActionLink("View Treats", "Index", "Treats")
                @Html.ActionLink("Log Out", "Index", "Account")
            </div>
        </div>
    </div>
</div>
}
else
{

    <p id="empty-value-div">
    Please login or register to view or manage your order/account.
</p>

    <div id="empty-value-div">
    <p>
        @Html.ActionLink("Register", "Register", "Account")
        &nbsp;&nbsp;|&nbsp;&nbsp; @Html.ActionLink("Log in", "Login", "Account")
    </p>
</div>

<div id="nav-container">
    <div id="dropdown-trigger">
        <span>Menu</span>
        <div id="dropdown-menu">
            <div id="dropdown-links-container">
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("Log In", "Login", "Account")
                @Html.ActionLink("Register", "Register", "Account")
                @Html.ActionLink("View Flavors", "Index", "Flavors")
                @Html.ActionLink("View Treats", "Index", "Treats")
            </div>
        </div>
    </div>
</div>
}

