@{
    Layout = "_Layout";
} 

@using PierresTreats.Models

<h1>Flavors</h1>

@if (@Model.Count == 0)
{
        <div id="empty-value-div">
        <h3>There are no currently no Flavors.</h3>
        <p>
            Add a Treat
            <span id="inner-nav-link">@Html.ActionLink("HERE", "Create")</span> in
            order to Add Flavors.
        </p>
</div>
    
        <div id="nav-links">
        <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
}
else
{ 
    <div id="nav-links">
        <p>@Html.ActionLink("Add Flavor", "Create", "Flavors")</p>
        <p>@Html.ActionLink("Home", "Index", "Home")</p>
        <p>@Html.ActionLink("Add Treat", "Create", "Treats")</p>
    </div>
}

<ul class="treat-flavor-link">
    @foreach (Flavor flavor in Model)
    {    
        <li class="list-margins">
            @Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new {id =
            flavor.FlavorId})
        </li>
    }
</ul>

